#banner{
    margin-top: 50px;
    position: relative;
}
#banner img{
    width: 100%;
    filter:brightness(0.6);
    
}

#banner .contenedor{
    position: absolute;
    top: 35%;
    left: 27%;
    color: white;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#banner h1{
    font-size: 50px;
}
#banner p{
    font-size: 30px;
}