#menu_bar{
    display: none;
}

header label{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 10%;
    height: 100vh ;
    background: cornflowerblue;
    transition: all 2s;
    transform: translateX(-120%);
}
.menu a{
    display: block;
    color: black;
    height: 40px;
    text-decoration: none;
    padding: 15px 15px;
    border-bottom:cornflowerblue 1px ;
}

.menu a:hover{
    background-color: white;
    font-family: monospace;
    transition: 2s;

}
#menu_bar:checked~.menu{
    transform: translateX(0);
}